
	<DIV class="loginbox">
		<form action="/adminhome" autocomplete="off">
			<H1 >Admin</H1>   
			<div class="textbox">
				<i class="fas fa-user"></i>
				<INPUT type="text" placeholder="Username" name="adminusername" required>
			</div>
			<br>
			<div class="textbox">
				<i class="fas fa-lock"></i>
				<INPUT type="password" placeholder="Password" name="adminpassword" required>
			</div>
			<br>
			<INPUT type="submit" value="Log in" name="login" class="smallbutton">
		</form>
		<form action="/index">
			<INPUT type="submit" value="Back" name="back" class="smallbutton">
		</form>
	</DIV>